.dropdown {
    font-weight: 400;
    font-size: 14px;

    &.hate-men-btn-default-alt1 {
        color: #065fd4;
        border-color: rgba(0, 0, 0, 0.1);
        padding: 0 15px !important;
        height: 36px;
        font-size: 14px;

        &:hover {
            background: #def1ff !important;
            border-color: transparent !important;
            color: #065fd4 !important;
        }
    }
}

.menuHeader {
    position: relative;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    align-items: center;
    padding-inline: 4px;
    padding-bottom: 4px;
    margin-top: -4px;
}

.menuItem {
    height: 40px;
    color: var(--primary) !important;
}

.expandButton {
    position: absolute;
    right: 16px;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    color: var(--primary);
}
